
body {
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.title {
  margin-bottom: 50px;
  font-weight: 300;
  color: #91AF03;
}

b {
  color: #91AF03;
}

.a {
  color: #91AF03;
  font-weight: bold;
}

.a:hover {
  color: black;
  text-decoration: none;
}


#header {
  margin-bottom: 0;
}

#header img {
  width: 300px;
}

#menu {
  text-transform: uppercase;
  margin-top: 20px;
  margin-right: 40px;
  list-style: none;
}

.firstli {
  float: left;
  margin-left: 20px;
}

#menu a:hover {
  color: black;
  text-decoration: none;
}

#intro {
  margin-top: 50px;
  margin-bottom: 60px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}


#smallline {
  font-weight: 400;
}

#subscribe {
  background-color: #AFE50B;
  padding: 20px;
  margin-top: 130px;
}

.sep {
  margin: 80px 0 60px 0;
  border: solid #dddddd;
  border-width: 1px 0 0;
}

.team {
  margin-bottom: 30px;
  min-height: 100px;
}

.team img {
  height: 100px;
  margin-right: 10px;
}

.color {
  color: #91AF03;
}
.color:hover {
  color: black;
}

.team-name {
  color: #91AF03;
  font-size: 17px;
  font-weight: 600;
}

.team-desc {
  font-size: 13px;
  font-weight: 400;
}

#schedule li {
  list-style: none;
  margin-top: 10px;
}

#schedule ul {
  margin-left: 0;
  padding-left: 0;
}

#release-feature h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
}

.features h4 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 100;
  color: #91AF03;
}

#expl h2 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
}

#expl {
  margin-bottom: 40px;
}

.error {
  color: #b94a48;
}

.footer {
  text-align: center;
}

#schedule h4 {
  color: #91AF03;
  font-size: 20px;
  font-weight: 400;
}

#faq h4 {
  color: #91AF03;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 400;
}
